pip install paddlepaddle-gpu==1.8.4.post107 -i https://mirror.baidu.com/pypi/simple
pip install tensorflow-gpu==1.12.2 -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install keras==2.2.5 -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install pydot -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install cython -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install pycocotools -i https://pypi.tuna.tsinghua.edu.cn/simple
